/* =============================
Google Fonts
============================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* =============================
Common-Css
============================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.link_btn {
    background: #7fc9fb;
    padding: 12px 25px;
    border-radius: 5px;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_2{
    display: flex;
    align-items: center;
    gap: 20px;
}



/* =============================
Header-Css
============================= */
header{
    background: linear-gradient(to right, #5533ff, #28d4f6);
    padding: 15px 0;
}
nav ul li a {
    padding: 12px 0;
    color: #fff;
    font-size: 17px;
    position: relative;
}
#activeHome::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.3s;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
nav ul li a:last-child::after{
    transform: scaleX(0);
}
nav ul li a:last-child{
    transition: 0.3s;
}
nav ul li a:last-child:hover{
    box-shadow: none;
}