/* =============================
Google Fonts
============================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* =============================
Common-Css
============================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #efeeee;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.link_btn {
    display: inline-block;
    background: #7fc9fb;
    padding: 12px 25px;
    border-radius: 5px;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flex_3{
    display: flex;
    align-items: center;
}
.flex_4{
    display: flex;
    gap: 15px;
}
.flex_5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.child{
    width: 50%;
}



/* =============================
Header-Css
============================= */
header{
    background: linear-gradient(to right, #5533ff, #28d4f6);
    padding: 15px 0;
    box-shadow: 0 0 10px red;
}
nav ul li a {
    padding: 12px 0;
    color: #fff;
    font-size: 18px;
    position: relative;
}
#activeHome::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
#activeDownload::after{
    transform: scaleX(0);
}
#activeDownload{
    transition: 0.3s;
}
#activeDownload:hover{
    box-shadow: none;
}


/* =============================
Banner-Css
============================= */
.banner{
    background: linear-gradient(to right, #5533ff, #28d4f6);
    height: 550px;
    margin-bottom: 150px;
}
.banner_container{
    padding-top: 50px;
}
.banner_info h2 {
    color: #fff;
    margin-bottom: 30px;
}
.banner_info p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}
#activeContact{
    background: #fff;
    color: #3ecf8e;
    border: 1px solid #fff;
}
.banner_info a {
    font-size: 15px;
    color: #fff;
    background: #3ecf8e;
    border: 1px solid #3ecf8e;
    box-shadow: none;
    margin-right: 20px;
    transition: 0.5s;
}
.banner_info a:hover{
    background: none;
    border: 1px solid #fff;
}
.banner_img img{
    width: 100%;
}



/* =============================
Service-Css
============================= */
.service_section{
    margin-bottom: 150px;
}
.services{
    gap: 30px;
}
.service {
    border: 1px solid lightgray;
    padding: 60px 25px;
    text-align: center;
    transition: 0.4s;
    background: #fff;
}
.service:hover{
    border: 1px solid #3ecf8e;
    box-shadow: 0 0 20px lightgray;
}
.service span {
    color: #3ecf8e;
    background: #e3fff2;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    width: 125px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.service h3 {
    margin-bottom: 25px;
    color: #151948;
}
.service p {
    color: gray;
}


/* =============================
Business-strategy-Css
============================= */
.business_strategy{
    margin-bottom: 150px;
}
.strategy .strategy_img img{
    width: 80%;
}
.strategy .strategy_info h2 {
    color: #151948;
    margin-bottom: 25px;
}
.strategy .strategy_info p {
    color: gray;
    margin-bottom: 25px;
    line-height: 26px;
}
.strategy .strategy_info a {
    background: #3ecf8e;
    color: #fff;
}



/* =============================
Service-we-provide-Css
============================= */
.service_we_provide{
    margin-bottom: 150px;
}
.service_we_provide_title {
    text-align: center;
    margin-bottom: 50px;
}
.service_we_provide_title h2{
    color: #151948;
}
.service_we_provide_title p {
    font-size: 18px;
    color: gray;
}
.service_we_provide_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service_2 {
    background: #fff;
    padding: 30px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: 0.4s;
}
.service_2:hover{
    box-shadow: 0 0 20px lightgray;
}
.service_2:nth-child(even){
    border-right: none;
}
.service_2:nth-child(5){
    border-bottom: none;
}
.service_2:nth-child(6){
    border-bottom: none;
}
.service_2 .service_2_icon span{
    color: #3ecf8e;
    background: #e3fff2;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    width: 125px;
    text-align: center;
    font-size: 40px;
    transition: 0.4s;
}
.service_2:hover span{
    color: #fff;
    background: #3ecf8e;
}
.service_2 .service_2_info h3{
    margin-bottom: 25px;
    color: #151948;
}
.service_2 .service_2_info p{
    color: gray;
}


/* =============================
Recent-work-Css
============================= */
.recent_work {
    background: linear-gradient(to right, #5533ff, #28d4f6);
    margin-bottom: 150px;
    height: 345px;
    padding-top: 110px;
}
.recent_work_title{
    text-align: center;
}
.recent_work_title h2{
    color: #fff;
}
.recent_work_title p{
    font-size: 18px;
    color: #fff;
}
.works{
    margin-top: 50px;
}
.work {
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    height: 150px;
}
.work_overlay {
    position: absolute;
    top: -100%;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 150px;
    transition: 0.5s;
}
.work:hover .work_overlay{
    top: 0;
}
.work_overlay_content {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}
.work_overlay_content p {
    font-style: italic;
    margin-bottom: 15px;
}
.work_overlay_content h3{
    margin-bottom: 15px;
}
.work_overlay_content span {
    justify-content: center;
}



/* =============================
pricing-plan-Css
============================= */
.pricing_plan{
    margin-top: 30px;
    margin-bottom: 150px;
}
.pricing_title {
    text-align: center;
    margin-bottom: 50px;
}
.pricing_title h2 {
    color: #151948;
}
.pricing_title p{
    font-size: 18px;
    color: gray;
}
.pricing {
    gap: 30px;
}
.price {
    width: 33.33%;
    background: #fff;
    border: 1px solid lightgray;
    text-align: center;
    padding: 50px 0;
    transition: 0.5s;
}
.price:hover{
    border: 1px solid #3ecf8e;
    box-shadow: 0 0 20px lightgray;
}
.price .pricing_name h3 {
    color: #151948;
}
.price .pricing_name h1 {
    color: #3ecf8e;
    font-weight: normal;
}
.price .pricing_name h1 sup {
    font-size: 16px;
    margin-right: 12px;
}
.price .price_benefits p {
    font-size: 18px;
    color: gray;
    margin-bottom: 10px;
}
.price .price_benefits p:last-child{
    margin-bottom: 0;
}
#activeStandard{
    background: #3ecf8e;
    color: #fff;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
}
.price_confirm_btn a {
    margin-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    box-shadow: none;
    color: #3ecf8e;
    border: 1px solid #3ecf8e;
    background: none;
    transition: 0.5s;
}
.price_confirm_btn a:hover{
    color: #000;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
}



/* =============================
Testimonial-Css
============================= */
.testimonials {
    margin-bottom: 150px;
    width: 100%;
    height: 550px;
    background-image: url(../images/testimonial.jpg);
    background-position: center;
    background-size: cover;
    display: inline-block;
}
.testimonial {
    text-align: center;
    background: #fff;
    width: 912px;
    margin: 0 auto;
    padding: 60px;
    border-radius: 10px;
    margin-top: 350px;
}
.testimonial p {
    color: gray;
    font-size: 22px;
    margin-bottom: 20px;
}
.testimonial h3 {
    font-weight: normal;
    color: gray;
    margin-bottom: 25px;
}
.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


/* =============================
Team-members-Css
============================= */
.team_member{
    margin-top: 250px;
    margin-bottom: 150px;
}
.team_title{
    text-align: center;
    margin-bottom: 50px;
}
.team_title h2{
    color: #151948;
}
.team_title p{
    font-size: 18px;
    color: gray;
}
.teams {
    gap: 30px;
}
.team {
    background: #fff;
    border: 1px solid lightgray;
    padding-bottom: 35px;
    transition: 0.5s;
}
.team:hover{
    box-shadow: 0 0 15px lightgray;
}
.team .team_social_icons {
    gap: 15px;
    margin-top: -25px;
}
.team .team_social_icons a {
    color: #3ecf8e;
    border: 1px solid gray;
    background: #fff;
    padding: 6px;
    width: 36px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.4s;
}
.team .team_social_icons a:hover{
    color: #fff;
    background: #3ecf8e;
    border: 1px solid #3ecf8e;
}
.team .team_info {
    text-align: center;
    margin-top: 30px;
}
.team .team_info h4{
    color: #151948;
}
.team .team_info small{
    color: gray;
}



/* =============================
Blog-Css
============================= */
.latest_blog{
    margin-bottom: 150px;
}
.blog_section_title{
    text-align: center;
    margin-bottom: 50px;
}
.blog_section_title h2{
    color: #151948;
}
.blog_section_title p{
    font-size: 18px;
    color: gray;
}
.blogs {
    gap: 30px;
}
.blog {
    border: 1px solid lightgray;
    background: #fff;
    transition: 0.5s;
}
.blog:hover{
    border: 1px solid #3ecf8e;
    box-shadow: 0 0 25px lightgray;
}
.blog:hover .blog_details h3{
    color: #3ecf8e;
}
.blog .blog_img {
    margin-bottom: 25px;
}
.blog .blog_details {
    padding: 0 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
}
.blog .blog_details h3 {
    color: #151948;
    margin-bottom: 15px;
    cursor: pointer;
}
.blog .blog_details p {
    color: gray;
    font-size: 14px;
    margin-bottom: 25px;
}
.blog .blog_details a {
    color: #3ecf8e;
    font-size: 14px;
    font-weight: 600;
}
.blog .blog_meta {
    padding: 25px 30px 40px;
}
.blog .blog_meta a {
    font-size: 14px;
    color: gray;
}
.blog .blog_meta a i{
    color: #3ecf8e;
    margin-right: 5px;
}



/* =============================
Get in touch-Css
============================= */
.get_in_touch{
    margin-bottom: 150px;
}
.get_in_touch_title{
    text-align: center;
    margin-bottom: 50px;
}
.get_in_touch_title h2{
    color: #151948;
}
.get_in_touch_title p{
    font-size: 18px;
    color: gray;
}
.get_it_form form .input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 35px;
    margin-bottom: 35px;
}
.get_it_form form .input input {
    outline: none;
    border: 1px solid lightgray;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 5px;
    font-family: 'Poppins';
}
.get_it_form form .input input:focus{
    border: 1px solid #3ecf8e;
    background: #3ecf8e0e;
}
.get_it_form form textarea {
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
    font-family: 'Poppins';
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 120px;
}
.get_it_form form textarea:focus{
    border: 1px solid #3ecf8e;
    background: #3ecf8e0e;
}
.get_it_form form button {
    padding: 12px 40px;
    margin-top: 25px;
    background: #3ecf8e;
    border: none;
    color: #fff;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
    transition: 0.4s;
}
.get_it_form form button:hover{
    box-shadow: none;
}
.get_it_img {
    text-align: right;
}
.get_it_img img{
    width: 80%;
}




/* =============================
Footer-Css
============================= */
footer{
    background: #180e29;
}
.footer_widget{
    padding: 100px 0;
    border-bottom: 1px solid #3c1f6e;
}
.footer_widget_container {
    display: flex;
}
.footer_links {
    width: 20%;
    color: #fff;
}
.footer_links h3 {
    margin-bottom: 30px;
}
.footer_links ul li {
    transition: 0.4s;
    margin-bottom: 8px;
}
.footer_links ul li:hover{
    margin-left: 5px;
}
.footer_links ul li:last-child{
    margin-bottom: 0;
}
.footer_links ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.4s;
}
.footer_links ul li a:hover{
    color: #3ecf8e;
}
.footer_links p {
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
}
.footer_links .subscribe {
    display: flex;
}
.footer_links .subscribe input {
    border: 1px solid lightgray;
    padding: 10px;
    background: #24153c;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    outline: none;
    color: #fff;
}
.footer_links .subscribe button {
    background: #3ecf8e;
    padding: 10px 25px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}



/* =============================
Footer (Copyright)-Css
============================= */
.copyright_text{
    text-align: center;
    padding: 30px 0;
}
.copyright_text h3{
    color: #fff;
    margin-bottom: 10px;
}
.copyright_text h3 span{
    color: #3ecf8e;
}
.copyright_text p{
    color: #fff;
}
.copyright_text p a{
    color: #3ecf8e;
}




/* ========================================== Media Query ========================================== */
/* =========== Mobile Device =========== */
@media only screen and (max-width: 688px){
    .container{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
}