/* =============================
Google Fonts
============================= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* =============================
Common-Css
============================= */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.link_btn {
    display: inline-block;
    background: #7fc9fb;
    padding: 12px 25px;
    border-radius: 5px;
    box-shadow: 0 8px 9px 0 rgb(96 94 94 / 17%);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex_2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flex_3{
    display: flex;
    align-items: center;
}
.child{
    width: 50%;
}



/* =============================
Header-Css
============================= */
header{
    background: linear-gradient(to right, #5533ff, #28d4f6);
    padding: 15px 0;
    box-shadow: 0 0 10px red;
}
nav ul li a {
    padding: 12px 0;
    color: #fff;
    font-size: 18px;
    position: relative;
}
#activeHome::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(1);
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.3s;
}
nav ul li a:hover::after{
    transform: scaleX(1);
}
#activeDownload::after{
    transform: scaleX(0);
}
#activeDownload{
    transition: 0.3s;
}
#activeDownload:hover{
    box-shadow: none;
}


/* =============================
Banner-Css
============================= */
.banner{
    background: linear-gradient(to right, #5533ff, #28d4f6);
    height: 550px;
    margin-bottom: 150px;
}
.banner_container{
    padding-top: 50px;
}
.banner_info h2 {
    color: #fff;
    margin-bottom: 30px;
}
.banner_info p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
}
#activeContact{
    background: #fff;
    color: #3ecf8e;
    border: 1px solid #fff;
}
.banner_info a {
    font-size: 15px;
    color: #fff;
    background: #3ecf8e;
    border: 1px solid #3ecf8e;
    box-shadow: none;
    margin-right: 20px;
    transition: 0.5s;
}
.banner_info a:hover{
    background: none;
    border: 1px solid #fff;
}
.banner_img img{
    width: 100%;
}



/* =============================
Service-Css
============================= */
.service_section{
    margin-bottom: 150px;
}
.services{
    gap: 30px;
}
.service {
    border: 1px solid lightgray;
    padding: 60px 25px;
    text-align: center;
    transition: 0.4s;
}
.service:hover{
    border: 1px solid #3ecf8e;
    box-shadow: 0 0 20px lightgray;
}
.service span {
    color: #3ecf8e;
    background: #e3fff2;
    display: inline-block;
    padding: 30px;
    border-radius: 50%;
    width: 125px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 25px;
}
.service h3 {
    margin-bottom: 25px;
    color: #151948;
}
.service p {
    color: gray;
}